body {
    background: #000;
    color: #fff;
    font-family: sans-serif;
}

.info {
    margin: 10px;
}

.field {
    width: calc(40 * 16px); /* 40 cells */
    height: calc(24 * 16px); /* 24 cells */
    display: grid;
    grid-template-columns: repeat(40, 16px);
    grid-template-rows: repeat(24, 16px);
    margin: auto;
    border: 1px solid #444; /* Add a border to the field */
}

.tile {
    width: 16px;
    height: 16px;
    position: relative; /* Needed for absolute positioning of the health bar */
    overflow: hidden; /* Hide overflow from health bar */
}

.health-hero, .health-enemy {
    position: absolute;
    top: 1px;
    left: 0;
    height: 3px;
    z-index: 1;
    transition: width 0.5s ease-in-out;
}

.health-hero {
    background-color: green;
}

.health-enemy {
    background-color: red;
}

.wall {
    background: url("img/tile-W.png") center/contain no-repeat !important;
}

.floor {
    background: url("img/tile-.png") center / contain no-repeat !important;
}

.hero {
    background: url("img/tile-P.png") center/contain no-repeat !important;
}

.enemy {
    background: url("img/tile-E.png") center/contain no-repeat !important;
}

.sword {
    background: url("img/tile-SW.png") center/contain no-repeat !important;
}

.potion {
    background: url("img/tile-HP.png") center/contain no-repeat !important;
}
